/* CLASES GENERALES*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font: 14px 'Open Sans', sans-serif;
  background: rgb(216, 216, 216);

}

h1 {
  padding: 20px 0;
  font-weight: 400;
  text-align: center;
  color: #fff;
}

p {
  line-height: 22.5px;
}

main {
  min-width: 320px;
  max-width: 1200px;
  padding: 15px 0;
  margin: 0 auto;
}

header {
  background-color: #1da1f2;
}

section {
  background-color: #fff;
}

form {
  background-color: #FCE8ED;
}

textarea {
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 0px;
  padding: 15px;
  border-radius: 5px;
}

/* CLASES REUTILIZABLES*/

.red {
  color: red;
}

.twitterBlue {
  color: #1da1f2;
}

.background-red {
  background-color: #ffb8c2;
}

.blue {
  color: rgb(5, 86, 116);
}

.text-color {
  color: #0084B4;
}

.border-top {
  border-top: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
}


/* MIS CLASES */
.button {
  border: 2px solid white;
  background-color: #3cf;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  font-weight: 700;
  outline: 0;
  display: inline-block;
  cursor: pointer;
}

.buttonDisabled {
  background-color: rgb(214, 214, 214);
  color: rgb(182, 182, 182);
  cursor: initial;
}
/**************


/* Section Card User Profile*/
.card-user, .content {
  display: inline-block;
  vertical-align: top;
}

.card-user {
  width: 23%;
}

.cover-page {
  height: 100px;
  background-color: #E81C4F;
}

.content-data {
  padding: 0 10px;  
}

.content-profile {
  display: inline-block;
  position: relative;
}

.photo-profile {
  position: absolute;
  bottom: 5px;
}

.photo-profile img{
  width: 72px;
  border-radius: 100px;
  border: 3px solid #fff;
}

.profile-name {
  margin: 5px;
  position: relative;
  left: 84px;
}

.profile-data div {
  display: inline-block;
  padding: 16px 0;
  margin-right: 16px;
}

.profile-data h3 {
  color: #657786;
  font-size: 14px;
}

.profile-data p {
  color: #E81C4F;
  font-weight: 600;
  font-size: 18px;
}
/***************


/* Section Tweets */
.content {
  margin: 0px 10px;
  width: 44%;
}

.content-textarea {
  border-bottom: 1px solid #eee;
  padding: 15px;
}

.content-buttton {
  padding: 12px;
}

.content-buttton p {
  float: right;
  transform: translateY(50%);
}

.content-tweets {
  width: 100%;
}

.content-twitter {
  padding: 15px;
  background-color: #fff; 
}
/***********/


/*Section notice*/
.notice {
  background-color: #fff;
  width: 30%;
  display: inline-block;
}

.notice p {
  padding: 16px;
  color: #657786;
}

